.ig-box {
  width:450px;
  min-height:65px;
  border-radius:10px;
  padding:20px;
  margin:auto;
  background:var(--bw);
  line-height:1.4em !important;}

.ig-box l {
  font-weight:bold;
  font-size:var(--big-size);
  text-transform:lowercase;}

.ig-box k {
  font-weight:bold;
  font-size:var(--medium-size);
  text-transform:lowercase;}

.ig-box tt {
  font-size:var(--medium-size);}

.ig-box t {
  opacity:0.5;}
 
.ig-box tag {
  font-weight:bold;
  cursor:pointer;}

.ig-img {
  width:450px;
  margin-lefT:-20px;}

#ig-pseudo {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size:var(--medium-size);
  margin-bottom:-10px;}

.pseudol {}
.pseudor {}

#ig-icons {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size:20px;}

.iconsl {}
.iconsr {}

.ig-top {
  display:grid;
  grid-template-columns:85px 80px 80px 80px;
  grid-template-rows:auto;
  height:auto;
  align-content:center;
  margin-bottom:-25px;}

.ig-top-left {
  grid-column:1/2;
  grid-row:1/2;
  width:80px;
  height:auto;}

.ig-top-left img {
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
  object-position:center;
  padding:3px;
  border:var(--border);}

.ig-top-center1 {
  grid-column:2/3;
  grid-row:1/2;
  width:80px;
  margin-left:10px;
  margin-top:25px;
  text-align:center;
  height:auto;}

.ig-top-center2 {
  grid-column:3/4;
  grid-row:1/2;
  width:80px;
  margin-top:25px;
  text-align:center;
  height:auto;}

.ig-top-center3 {
  grid-column:4/5;
  grid-row:1/2;
  width:80px;
  margin-top:25px;
  text-align:center;
  height:auto;}

#ig-com {
  display:flex;
  align-items:center;}

.ig-coml {}
.ig-coml img {
  width:60px;
  height:60px;
  border-radius:50%;
  object-fit:cover;
  object-position:center;
  padding:3px;
  margin-right:10px;
  border:var(--border);}
  
.ig-comr {}

.ig-icon {
  font-size:var(--medium-size);
  font-weight:strong;}

.feedig {
  display:grid;
  grid-template-columns:132px 132px 132px;
  grid-template-rows:132px 132px 132px;
  grid-gap:7px;
  justify-content:center;
  align-content:center;
  margin-bottom:-75px;}

.feig {
  width:130px;
  height:130px;
  object-fit:cover;
  object-position:center;}

.pixg11 {
  grid-column:1/2;
  grid-row:1/2;}
.pixg12 {
  grid-column:2/3;
  grid-row:1/2;}
.pixg13 {
  grid-column:3/4;
  grid-row:1/2;}
.pixg21 {
  grid-column:1/2;
  grid-row:2/3;}
.pixg22 {
  grid-column:2/3;
  grid-row:2/3;}
.pixg23 {
  grid-column:3/4;
  grid-row:2/3;}
.pixg31 {
  grid-column:1/2;
  grid-row:3/4;}
.pixg32 {
  grid-column:2/3;
  grid-row:3/4;}
.pixg33 {
  grid-column:3/4;
  grid-row:3/4;}

.story-box {
  width:300px;
  height:500px;
  margin:auto;
  border-radius:10px;
  background:var(--bw);
  z-index:1;}

.story-img {
  z-index:0;
  object-fit:cover;
  object-position:center;
  width:300px;
  height:500px;
  border-radius:10px;}

.storyn {
  margin-top:-500px;
  margin-bottom:500px;
  display:grid;
  grid-template-columns:135px 135px;
  grid-template-rows:5px;
  grid-gap:10px;
  padding:10px;
  padding-top:20px;}

.story1 {
  grid-column:1/2;
  grid-row:1/2;
  border-top:2px solid #fff}

.story2 {
  grid-column:2/3;
  grid-row:1/2;
  border-top:2px solid #fff}

#storyid {
  margin-top:-500px;
  margin-bottom:400px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding:0px 10px 0px 10px;
  color:#fff;}

.storyidl img {
  width:45px;
  height:45px;
  border-radius:100%;
  padding:2px;
  border:1px solid var(--link);
  margin-right:10px;
  object-fit:cover;
  object-position:center;}

.storyidl {display:flex;align-items:center;font-weight:bold;text-transform:lowercase;}
.storyidr {font-size:var(--big-size);}
