:root {
--accent:#54a8b2;
--accent-dark:#756ca4;
--accent-light:#5e979d;
  
--neutral:#c7c7c7; /*couleur la plus claire - fond des catégories*/
--neutralDark:#c1c1c1; /*couleur moyenne - fond des messages admin*/
--neutralDarker:#b8b8b8; /*couleur la plus sombre - fond des cadres écriture*/

--link:#756ca4;
--linkh:#998fcc;
--linkb:#756ca4;

--little-size:12px;
--normal-size:14px;
--medium-size:16px;
--large-size:18px;
--big-size:20px;
--title-size:22px;
--giant-size:28px;
}

.cjmess {
  width:100%;
  background:var(--neutralDarker);
  padding:20px;
  text-align:justify;}

.cjmess a {
  font-weight:bold;
  color:var(--link);}

.cjmess a:hover {
  color:var(--linkh);}

.cjtitre {
  background-color:var(--neutralDarker);
  height:127px;
  width:100%;
  border-radius:127px 0 0 127px;
  text-align:right;
  padding:12px;
  padding-left:130px;
  overflow:auto;}

.cjicon {
  position:absolute;
  width:127px;
  height:127px;
  border-radius:50%;
  object-fit:cover;
  object-position:center;
  padding:7px;
  margin-left:-7px;
  background-color:var(--fond-inside);
  float:left;}

.cjtitre cj {
  -webkit-text-stroke:1px var(--accent-dark);
  -webkit-text-fill-color:transparent;
  font-size:var(--giant-size);
  text-transform:uppercase;
  font-family:var(--font4);
  font-weight:600;
  letter-spacing:2px;
  margin-bottom:12px;
  display:inline-block;}

.cjtitre cit {
  font-style:italic;
  opacity:0.8;}

uu {
  font-weight:500;
  padding:0px 5px 0px 5px;
  text-shadow:1px 1px 1px var(--neutral);
  box-shadow:inset 0 -4px 0 var(--accent-dark);}

ii {
  font-style:italic;
  color: var(--accent);
text-shadow:0px 1px 1px var(--accent-darker);}
