/*** QUI EST EN LIGNE -------------- ***/
.qeel-box {
  width:900px;
  height:auto;
  box-shadow:var(--shadow);
  background:var(--neutral);}

.qeel {
  display:grid;
  justify-content:center;
  align-content:center;
  grid-template-columns:325px 200px 325px;
  grid-template-rows:35px 75px 25px;
  grid-gap:10px;
  font-size:13px;
  color:var(--textColor);
  background:var(--neutral);}

.newbie {
  text-align:center;
  margin-top:-5px;
  position:relative;
  z-index:1;
  font-weight:600;
  font-family:var(--font4);
  text-align:center;
  font-size:var(--little-size);
  text-transform:lowercase;
  letter-spacing:1px;
  font-size:var(--normal-size);}
.newbie l {color:var(--accent-dark);font-size:var(--normal-size);}

.newbie a {}

.newbie:before {
  border-top:2px solid var(--accent);
  content:\"\";
  margin:0 auto;
  position:absolute;
  top:8px; left:0; right:0; bottom:0;
  width:97%;
  z-index:-1;}

.newbie span {
  background:var(--neutral);
  padding:0 10px;}

/* Dernier inscrit */
#last_user {
  display:flex;
  align-items:center;}

.qeel-connected {
  grid-column:1 / 2;
  grid-row:1 / 2;
  display:inline-block;
  widht:325px;
  height:35px;
  padding-left:3px;
  text-align:justify;
  font-family:var(--font4);
  font-size:14px;
  text-transform:lowercase;}

.qeel-here {
  grid-column:1 / 2;
  grid-row:2 / 4;
  display: inline-block;
  widht:325px;
  height:110px;
  padding:0px 15px 15px 15px;
  text-align:justify;
  overflow:auto;
  background:var(--neutralDark);}

.qeel-bouille {
  grid-column:2/3;
  grid-row:1/4;
  display:inline-block;
  widht:200px;
  height:155px;
  overflow:hidden;}

#lastuser_avatar img {
  width:200px !important;
  height:155px !important;
  -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(30%);
  filter: sepia(100%) hue-rotate(90deg) saturate(30%);
  object-fit:cover;
  object-position:center;
  transition:var(--transi);}
#lastuser_avatar img:hover {-webkit-filter: sepia(0%) hue-rotate(0deg) saturate(0%);
  filter: sepia(0%) hue-rotate(0deg) saturate(0%);}

.qeel-groupe {
  grid-column:2 / 3;
  grid-row:1 / 4;
  display: inline-block;
  widht:200px;
  height:165px;
  overflow:hidden;}
.qeel-groupe img {
  width:200px;
  height:55px;
  object-fit:cover;
  margin-bottom:5px;}

.qeel-48h {
  grid-column:3 / 4;
  grid-row:1 / 3;
  display:inline-block;
  widht:325px;
  height:120px;
  padding:15px;
  text-align:justify;
  overflow:auto;
  background:var(--neutralDark) !important;}

.salete td.row1 {background:none !important;}

.qeel-stat {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display:block;
  widht:325px;
  height:25px;
  padding-top:5px;
  align-self:center;
  justify-self:center;
  overflow:hidden;
  font-weight:600;
  font-family:var(--font4);
  text-align:center;
  font-size:var(--little-size);}
.qeel-stat l {color:var(--accent-dark);font-size:var(--normal-size);}

.qeel-bouille #lastuser_avatar img {
  display:block;
  width:20px;
  height:40px;
  object-fit:cover;}
