.vali {
  display:grid;
  grid-template-columns:270px 200px;
  grid-template-rows:250px;
  grid-gap:15px;
  width:485px;
  align-content:center;
  margin:auto;
  margin-bottom:-25px;}

.vali-left {
  grid-column:1/2;
  grid-row:1/2;
  padding:15px;
  background:var(--neutralDarker);}
  
.vali-right {
  grid-column:2/3;
  grid-row:1/2;
  margin-top:-5px;
  text-align:left;
  display:inline-block;}

.vali-right a {
  color:var(--neutral);
  font-family:var(--font9);
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:1px;
  margin-left:10px;
  transition:var(--transi);}
.vali-right a:hover {color:var(--accent);}

.vali-links {
  font-size:var(--normal-size);
  text-transform:uppercase;
  background:var(--deg);
  color:var(--neutral);
  padding:4px;
  font-family:var(--font4);
  text-transform:uppercase;
  letter-spacing:2px;
  margin-top:12px;}
.vali-links:first-child {margin-top:6px;}
.vali-links:last-child {margin-bottom:0px;}
